#contact {
	padding-bottom: 50px;
}

.contact-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'address form'
		'map map'
	;
	grid-gap: 60px;
}

// MOBILE
@media screen and (max-width: 700px) {
	.contact-grid {

		grid-template-columns: 1fr;
		grid-template-areas:
			'address'
			'map'
			'form'
		;
	}
}



.address-container {
	grid-area: address;

	svg {
		fill: var(--main-color);
	}

	h2,
	h3 {
		text-transform: uppercase;
		font-size: 2.2rem;
		font-style: normal;
		margin-bottom: 20px;
	}

	address {
		font-style: normal;
	}
}

// MOBILE
@media screen and (max-width: 700px) {
	.address-container {
		box-shadow: var(--shadow-3);
		border-radius: 10px;
		padding: 20px;
	}

	#contact {
		h2 {
			font-size: 13vw;
		}
	}
}


.map--container {
	grid-area: map;
}

.large-map {
	width: 100%;
}

.contact-form {
	grid-area: form;
	box-shadow: var(--shadow-3);
	border-radius: 10px;
	padding: 20px;

	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}
	@media screen and (max-width: 700px) {
		h3 {
			font-size: 6vw;
		}
	}
}

address {
	line-height: 3rem;
}




// form field

.wpforms-form {
	.wpforms-field-container {
		.wpforms-field {

			.wpforms-field-label {
				opacity: 0.6;
			}

			.wpforms-field-medium {
				border-radius: 10px;
				border-color: var(--main-color-mid);
				width: 100%;
				max-width: 800px;
			}

		}
	}
}

// form button
.wpforms-container {
	.wpforms-form {
		.wpforms-submit-container {

			.main-button {
				margin-top: 50px;
				height: 55px;
				width: 100%;
				text-transform: uppercase;
				border-radius: 10px;
				font-size: 2rem;
				font-weight: bold;
				box-shadow: var(--shadow-3);
				transition: all 0.5s;
			}

			.main-button:hover {
				border: 0px var(--main-color-mid) solid;
				box-shadow: var(--shadow-5);
				background-color: var(--main-color-mid);

			}

			.btn-color {
				border: 0px var(--main-color-mid) solid;
				color: white;
				background-color: var(--main-color-mid);
			}

		}
	}
}

#contact {
	div.wpforms-container-full {
		margin-bottom: 0;
	}
}
